{% extends "layout.twig" %}

{% block body %}
	<div class="row">
		<form action="/registration" method="POST" class="w-100">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password">
			</div>
			<button class="btn">Sing up</button>
		</form>
	</div>
{% endblock %}
